<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Qyteti Success</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Koha </h2>
    <span>Qyteti</span><span th:text="${city.name}"></span><br>
    <span>Temperatura</span><span th:text="${city.temperature}"></span><br>
    <span>Shpejtesia e eres</span><span th:text="${city.windSpeed}"></span><br>
    <span>Shikueshmeria</span><span th:text="${city.visibility}"></span><br>
    <span>Lageshtia</span><span th:text="${city.humidity}"></span><br>
</div>
</body>
</html>