<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Moti</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div align="center" class="table-hover">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">WeatherApp</a>
            </div>
        </div>
        <h2 align="center">Moti ne : <span th:text="${city.name}"></span></h2>
    </nav>


    <ul class="list-group">
        <li class="list-group-item"><span>Data : </span><span th:text="${city.date}"></span></li>
        <li class="list-group-item"><span>Ora : </span><span th:text="${city.time}"></span></li>
        <li class="list-group-item"><span>Temperatura : </span><span th:text="${city.temperature}"></span></li>
        <li class="list-group-item"><span>Shikueshmeria : </span><span th:text="${city.visibility}"></span></li>
        <li class="list-group-item"><span>Lageshtia : </span><span th:text="${city.humidity}"></span></li>
        <li class="list-group-item"><span>Shpejtesia e eres : </span><span th:text="${city.windSpeed}"></span></li>

    </ul>
    <div class=""></div>







</div>
</body>
</html>