<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">WeatherApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/searchCity">Kerko Qytet</a></li>
            <li><a href="/cities">Shiko Qytetet e Kerkuara</a></li>
            <li><a href="#">Reth Nesh</a></li>
        </ul>
    </div>
</nav>


<!--    <div th:text="${T(com.javakorcaal1.weatherapp.controller.MyController).ggg('nardi')}"></div>-->

</body>
</html>