<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
</head>
<body>

    <h1 align="center">welcome to our weather app</h1>
    <h2 align="center">kujdes ndaj shokeve edhe ambienteve te perbashketa </h2>

    <div align="center">
        <h1>Weather App</h1>
        <a href="/fillCity">Shiko qytet</a>

        </form>
    </div>

<!--    <div th:text="${T(com.javakorcaal1.weatherapp.controller.MyController).ggg('nardi')}"></div>-->

</body>
</html>